footer {
  background-color: var(--color-white);
  height: var(--footer-height);
  width: var(--footer-width);
  border-top: var(--border-section);
  text-align: var(--footer-text-align);
  line-height: var(--footer-height);
  position: fixed;
  bottom: 0;
}
