header {
  background-color: var(--Header-background-color);
  height: var(--Header-height);
  width: var(--Header-width);
  border-bottom: var(--border-section);
}

.header-logo {
  background-image: url(../images/logo.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: var(--Header-height);
  width: var(--header-logo-width);
  padding-left: var(--header-items-padding-left);
}
